[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IsotopeR"]
	path = IsotopeR
	url = https://github.com/cran/IsotopeR
	shallow = true
	registered = true
